{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% if text  %}
        <title>{{ text.title }}</title>
        <meta name="keywords" content="{{ text.keywords }}">
        <meta name="descriprion" content="{{ text.description }}">
    {% else %}    
        <title>Сократитель ссылок</title>
        <meta name="keywords" content="bit.ly, сократить ссылку, сокращение ссылок">
        <meta name="description" content="Сервис сокращения ссылок. У нас бесплатно!">
    {% endif %}

    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
    <title>Title</title>
</head>
<body>
<header>
    Хедер сайта. Не меняется. Статичный
</header>
<main>
    {% block content %}{% endblock %}
</main>
<footer>
        подвал сайта. Не меняется. Статичный
</footer>
</body>
</html>